  <!--   ======= FOURTH SECTION  ======== -->
  <div id="fourth-section" class="container-fluid  d-flex justify-content-between align-items-center p-4 pt-5 pb-5">
    <div class="fourSec-des d-flex justify-content-center align-items-start flex-column ">
      <h2 class="mt-2 mb-3">let`s discuss your project</h2>

      <div class="fourDes-box d-flex justify-content-center align-items-center flex-column ">
        <hr class="bl-hr">
        <div class="fourBox d-flex justify-content-between align-items-center ">
          <i class="fa-solid fa-envelope" id="service-icon"></i>
          <div class="d-flex justify-content-start align-items-center " style="width:200px;">
            <h4>coadanas@gmail.com</h4>
          </div>
        </div>
        <hr class="bl-hr">
        <div class="fourBox d-flex justify-content-between align-items-center ">
          <i class="fa-solid fa-location-dot" id="service-icon"></i>
          <div class="d-flex justify-content-start align-items-center " style="width:200px;">
            <h4>india</h4>
          </div>
        </div>
      </div>

    </div>

    <div class="fourSec-circle d-flex justify-content-center align-items-center ">
      <div class="fourCircle-box  d-flex justify-content-around align-items-center">
        <div class="fourCircle-box-des d-flex justify-content-around align-items-center flex-column">
          <h5>👋 say hii</h5>
          <span><hr class="bl-hr circle-stick"></span>
        </div>
        <i class="fa-solid fa-arrow-right-long" id="circle-icon"></i>
      </div>
    </div>
  </div>