 <!-- ======== HERO ======== -->
  <div class="container hero  d-flex align-items-center">
    <div class="hero-des  d-flex justify-content-center align-items-start flex-column">
      <h2 class="mt-3">we have devlopment exprience</h2>
      <p class="mt-2">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda quae sapiente nobis quam quod, ipsum? Sint nisi cumque beatae nemo.
      </p>
      <div class="btns mt-2">
        <button class="btn hero-f-btn">lets talk</button>
        <button class="btn hero-s-btn">portfolio <i class="fa-solid fa-arrow-right"></i></button>
      </div>
    </div>
    <div class="hero-img  d-flex justify-content-center align-items-center flex-column">
      <img src="ak.png" alt="">
      <div class="social-icons  d-flex justify-content-center align-items-center mt-2">
        <span>cheak out my</span>
        <span>        <i class="fa-brands fa-youtube"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-facebook"></i></span>
      </div>
    </div>
  </div>