  <!--   ======= LATEST PRODUCT  ======== -->
  <div class="container-fluid latest-container d-flex align-items-center justify-content-center pt-5 pb-4 flex-column">

    <div class="latest-container-title container text-start">
      <h2>latest project</h2>
    </div>

    <div class="container d-flex align-items-end justify-content-center latest-box">

      <div class="latest-f-con  d-flex align-items-center justify-content-center">
        <div class="latest-f-box d-flex align-items-center justify-content-center flex-column">
          <hr class="b-hr">
          <div class="latest-f-des d-flex align-items-center  mb-2">
            <h4>Landing page</h4>
            <span><i class="fa-solid fa-arrow-right" id="service-icon"></i></span>
          </div>
          <img src="https://images.unsplash.com/photo-1453928582365-b6ad33cbcf64?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fHdlYiUyMGRldmxvcGVyfGVufDB8MHwwfHx8Mg%3D%3D&auto=format&fit=crop&w=800&q=60">
        </div>
      </div>

      <div class="latest-s-con  d-flex align-items-center justify-content-center">
        <div class="latest-f-box d-flex align-items-center justify-content-center flex-column">
          <hr class="b-hr">
          <div class="latest-f-des d-flex justify-content-between align-items-center mb-2">
            <h4>Wesite Hosing</h4>
            <i class="fa-solid fa-arrow-right" id="service-icon"></i>
          </div>
          <img src="https://images.unsplash.com/photo-1488590528505-98d2b5aba04b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHdlYiUyMGRldmxvcGVyfGVufDB8MHwwfHx8Mg%3D%3D&auto=format&fit=crop&w=800&q=60">
        </div>
      </div>

      <div class="latest-t-con  d-flex align-items-center justify-content-center">
        <div class="latest-f-box d-flex align-items-center justify-content-center flex-column">
          <hr class="b-hr">
          <div class="latest-f-des d-flex justify-content-between align-items-center mb-2">
            <h4>Web Design</h4>
            <i class="fa-solid fa-arrow-right" id="service-icon"></i>
          </div>
          <img src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1772&q=80">
        </div>
      </div>

    </div>
  </div>