@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body {
  font-family: 'Ubuntu', sans-serif;
}
.hero {
  justify-content: space-between;
  width: 100vw;
  height: 500px;
}
.hero-des {
  width: 250px;
}
.hero-des h2 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
}
.hero-des p {
  font-size: 12px;
}
.hero-img {
  width: 350px;
  height: 400px;
  margin-bottom: 2rem;
}
.hero-img img {
  width: 350px;
}
.btns .hero-f-btn {
  color: white;
  font-size: 10px;
  background-color: #8669E9;
}
.btns .hero-s-btn {
  font-size: 10px;
}

.social-icons span {
  font-size: 15px;
  margin-right: 10px;
}
.social-icons i {
  margin: 5px;
}

.services {
  align-items: start;
  background-color: #F8DD68;
/*  width: 100vw;*/
  height: 500px;
  justify-content: space-around;
  padding-bottom: 3rem;
}
.services .service-des {
  width: 200px;
  padding-left: 1rem;
}
.service-des h2 {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 1px;
}
.service-des p {
  color: brown;
  font-size: 12px;
}
.services .service-boxes {
  width: 400px;
}
.hr {
  background-color: brown;
  height: 2px;
  width: 300px;
  border: none;
}
.service-box {
  width: 250px;
}
.service-box span {
  width: 100px;
  /*  border: 1px solid black; */
}
.service-box span h2 {
  font-weight: 700;
  font-size: 1.5rem;
}
.service-box span h3 {
  font-weight: 700;
  font-size: 1rem;
}
#service-icon {
  width: 20px;
  height: 20px;
  color: white;
  font-size: 10px;
  background-color: #8669E9;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 50%;
}

/* ===== LATEST PRODUCT ===== */
.latest-container-title h2 {
  width: 150px;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.latest-f-con {
  margin: 10px;
}
.latest-f-box {
  width: 200px;
  padding: 10px;
}
.latest-f-box img {
  width: 200px;
}
.latest-f-des {
  width: 200px;
  padding: 0px 20px;
  justify-content: space-between;
}
.latest-f-des h4 {
  font-size: 1rem;
}
.latest-s-con {
  margin: 10px;
  margin-bottom: 4rem;
}
.latest-t-con {
  margin: 10px;
  margin-bottom: 8rem;
}
.b-hr {
  background-color: black;
  height: 2px;
  width: 200px;
  border: none;
}


/*     ======== FOURTH SECTION ======== */
#fourth-section {
  background-color: #F8DD68;
}
.fourSec-des h2 {
  width: 200px;
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: start;
}
.fourBox {
  width: 250px;
}
.fourBox h4 {
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 1px;
}
.bl-hr {
  background-color: black;
  height: 2px;
  width: 320px;
  border: none;
}

#circle-icon {
  width: 60px;
  height: 60px;
  color: #fff;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 50%;
  transform: rotate(-30deg);
  background-color: #8669E9;
}
.fourCircle-box {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  border-radius: 50%;
  position: relative;
}
.fourCircle-box h5 {
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1px;
}
.circle-stick {
  width: 170px;
  transform: rotate(20deg);
  position: absolute;
  top: 165px;
  right: 10vw;
}

@media (max-width: 767px) {
  .hero {
    justify-content: space-around;
    width: 100vw;
    height: 400px;
  }
  .hero-des {
    width: 200px;
    height: 400px;
    /* border: 1px solid black; */
  }
  .hero-des h2 {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
  }
  .hero-des p {
    font-size: 10px;
  }
  .hero-img {
    width: 200px;
    height: 400px;
    /* border: 1px solid black; */
    padding-bottom: 0rem;
  }
  .hero-img img {
    width: 200px;
  }
  .btns {
    display: flex;
    width: 150px;
    /* border: 1px solid black; */
  }
  .btns .hero-f-btn {
    color: white;
    font-size: 10px;
    background-color: #8669E9;
  }
  .btns .hero-s-btn {
    font-size: 10px;
  }
  .social-icons {
    flex-direction: column;
    /* border: 1px solid black; */
  }
  .social-icons span {
    font-size: 10px;
    margin-right: 10px;
  }
  .social-icons i {
    margin: 5px;
  }
  /*  SERVICES  */
  .services {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
  }
  /*  LATEST PRODUCT */
  .latest-container-title h2 {
    width: 150px;
    font-size: 1.5rem;
  }
  .latest-f-con {
    margin: 10px;
  }
  .latest-f-box {
    width: 100px;
    padding: 10px;
  }
  .latest-f-box img {
    width: 100px;
  }
  .latest-f-des {
    width: 100px;
    padding: 0px 10px;
  }
  .latest-f-des h4 {
    font-size: 0.8rem;
  }
  .b-hr {
    width: 100px;
  }

  /* FOURTH SECTION */
  #fourth-section {
    flex-direction: column;
  }
  .fourSec-circle {
    margin-top: 3.5rem;
  }
  .circle-stick {
    top: 165px;
    right: 24vw;
  }
}
